<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Tutor Comment Form</h1>
        <p>Add comments to your tutor here</p>
    </div>

    You enter the following ..<br><br>

    The tutor name was: <%= tutorName %><br><br>
    The tutee name was: <%= tuteeName %><br><br>
    The score was: <%= score %><br><br>
    The comments were: <br><%= coms %><br><br>

<%- include('bootfooter') -%>
