<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>TutorMatching Profile for <%= user.userName%></h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to TutorMatching.
        </p>
        <p> <%= user.zipcode %> <%= user.city%> <%=user.state%> </p>
        <p> Last updated on <%= user.lastUpdate %> </p>

    </div>

<%- include('bootfooter') -%>
