<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
      <h1>Recipes</h1>
  </div>
  <form method="post" action="/recipesProcess">
    The name of the dish: <input type="text" name="name"><br><br>
    The ingredients in the dish: <input type="text" name="ingredients"><br><br>
    A discription of how to make the dish: <textarea rows="4" cols="50" name ="directions"></textarea><br><br>
    <input type="submit" class="btn btn-lg btn-primary">
  </form>
  <ol>
    <% for(i = 0; i<recipes.length; i++){  %>
        <li> <i><%= recipes[i].name %></\/i>
             <i><%= recipes[i].ingredients %></\/i>
             <i><%= recipes[i].directions %></\/i>
             <i><%= recipes[i].author %></\/i>
             <i><%= recipes[i].createdAt %></\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
