<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
      <h1>Recipes</h1>
  </div>
  <form method="post" action="/recipesProcess">
    The name of the dish: <input type="text" name="name"><br><br>
    The ingredients in the dish: <input type="text" name="ingredients"><br><br>
    A discription of how to make the dish: <textarea rows="4" cols="50" name ="directions"></textarea><br><br>
    <input type="submit" class="btn btn-lg btn-primary">
  </form>

  <hr>
  <form method="post" action="/recipeDelete">
  <input class="btn btn-sm btn-outline-danger" type="submit" value="delete marked">
  <ol>
    <% for(i = 0; i<recipes.length; i++){  %>
        <li> <i>Name: <%= recipes[i].name %></i><br>
             <i>Ingredients: <%= recipes[i].ingredients %></i><br>
             <i>Directions: <%= recipes[i].directions %></i><br>
             <i>Author: <%= recipes[i].author %></i><br>
             <i>CreatedAt: <%= recipes[i].createdAt %></i><br>
             <i><% if (recipes[i].userId.equals(user._id)) { %>
                  <input type="checkbox" name="delete" value="<%=recipes[i]._id%>"
                 <% } %>
            <br>
            </i> </li>
    <% } %>
    </ol>
  </form>
<%- include('bootfooter') -%>
