<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Profiles</h1>
    </div>
    <ol>
    <%for(i=0; i<users.length; i++){ %>
      <li>  <a href="/showProfiles/<%= users[i]._id %>"> view</a>
            <i><%= users[i].userName %></\/i>
            <i><%= users[i].googlename %></\/i>
            <i><%= users[i].googleemail %></\/i>
            <i><%= users[i].lastUpdate %></\/i>
            <i><%= users[i].profilePicURL %></\/i></li>
    <% }%>
    </ol>
<%- include('bootfooter') -%>
