<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Profile for <%= user.userName %> </h1>
    </div>
    user name: <%= tutorSingleComment.tutorName %> <br>
    google name: <%= tutorSingleComment.tuteeName %> <br>
    score: <%= tutorSingleComment.score %> <br>
    comment: <%= tutorSingleComment.comment %>
    <hr>

<%- include('bootfooter') -%>
