<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>TutorMatching Profile for <%= profile.userName %></h1>
        <hr>
        <p> Welcome <%= profile.googlename %>
            with email <%= profile.googleemail %> .
            You are logged in to TutorMatching.
        </p>
        <p> <%= user.zipcode %> <%= user.city%> <%=user.state%> </p>
        <p> Last updated on <%= profile.lastUpdate %> </p>
    </div>

<%- include('bootfooter') -%>
