<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Comment for <%= tutorSingleComment.tutorName %> </h1>
    </div>
    tutor name: <%= tutorSingleComment.tutorName %> <br>
    tutee name: <%= tutorSingleComment.tuteeName %> <br>
    score: <%= tutorSingleComment.score %> <br>
    comment: <%= tutorSingleComment.comment %>
    <hr>

<%- include('bootfooter') -%>
