<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Tutee Comment Form</h1>
        <p>Add comments to your tutee here</p>
    </div>

    You enter the following ..<br><br>

    The tutee/parent name was: <%= tuteeName1 %><br><br>
    The tutor name was: <%= tutorName1 %><br><br>
    The score for student was: <%= scoreStudent %><br><br>
    The score for parent was: <%= scoreParent %><br><br>
    The comments were: <br><%= coms1 %><br><br>

<%- include('bootfooter') -%>
